@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
html,
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #D1ED9E;
  color: black;
}

.anchor {
  position: relative;
}

.anchor a {
  position: absolute;
  left: 0;
  top: -120px;
  visibility: hidden;
}

.mobile .anchor a {
  top: -340px;
}

.contact h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 5px;
  min-width: 30vw;
  text-align: center;
  padding-bottom: 10px;
  border: 8px solid #5f3610;
  box-shadow: inset black 0px 0px 10px;
  background-color: #1b311ab2;
  border-radius: 5px;
  font-size: 2.5em;
  font-weight: 300;
  color: white;
}

.contact-options {
  margin-left: 40px;
}

.contact-phone a {
  color: inherit;
}
.contact-address-header {
  margin-bottom: 0;
}
.contact-address {
  margin-left: 40px;
  margin-top: 0;
}

.app > .product-category:last-child > .products {
  justify-content: space-around;
}